<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs', {isLoggedIn: isLoggedIn}) %>

            <main>
                <% if(errorMessage) { %>
                    <h3 class="error__login--message">
                        <%= errorMessage %>
                    </h3>
                    <% } %>
                        <form class="login-form-login" action="/forgot-password" method="POST">
                            <div class="form-control-login">
                                <label for="email">E-Mail</label>
                                <input type="email" name="email" id="email">
                            </div>
                            <button class="btn-login btn" type="submit">Reset Password</button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>